<section class="main">
<div class="row padding">
			<div class="swap-left">
				<div class="five columns search">
					<%= form_for([@project, @project.search_items.build]) do |f| %>
						<div class="form-search">
							<i class="fa fa-search"></i>
							<%= f.text_field :topic, class: "search-box", placeholder: "Topic..." %>
						</div>
					</div>
					<div class="three columns tabs">
					<%= f.select :language, options_for_select([["Language", ""], "Ruby", "Java", "Html", "CSS"]) %>
					</div>
					<div class="three columns tabs">
				      	<%= f.submit "Add", class: "button-primary" %>
					</div>
				<% end %>
			</div>

			<div class="swap-right">
				<div class="five columns tabs">
					<input id="tab1" type="radio" data-target="#content1" name="tabs" checked>
					<label for="tab1">Search</label>

					<input id="tab2" type="radio" data-target="#content2" name="tabs">
					<label for="tab2">Saved</label>

					<input id="tab3" type="radio" data-target="#content3" name="tabs">
					<label for="tab3">Deleted</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="twelve columns section-content">
				<section id="content1" class="content-datas">
					<% if @search_items.count > 0 %>
						<div class="row">
							<div class="three columns">
								<div class="row">
									<% @search_items.each do |sItem| %>
										<% unless sItem.id.blank? %>
											<div class="twelve columns result-search report <%= 'active' if (sItem.id == params[:id].to_i) && !params[:project_id].blank? %>" id="<%= sItem.id %>">
												<a href="<%= project_search_item_path(sItem.project_id, sItem.id) %>"><%= sItem.topic %> (<%= sItem.date_request_cache.strftime("%d/%m/%Y %H:%M") rescue '' %>)</a>
											</div>
										<% end %>
									<% end %>
								</div>
							</div>
							<% if params[:project_id].blank? %>
				  	  	<% search_items_id = Project.find(params[:id]).search_items.last.id %>
				  	  <% else %>
		          	<% search_items_id = params[:id] %>
		          <% end %>
							<div class="five columns">
								<div class="row">
									<% @caches_search.each do |caches_search|%>
										<% if include_in_deleted_result?(caches_search) %>
										  <div class="twelve columns report <%= 'selected-cache' if !compare_data(caches_search) %>" id="list-<%= caches_search[:id] %>">
										      <div class="row link">
										        <div class="twelve columns inner-report" style="position: relative;">
										          <a href="#" class="click-caches-search" data-caches-search="<%=caches_search[:url]%>" data-caches-name="<%=caches_search[:name]%>"><%= caches_search[:name] %>&nbsp;(<%= caches_search[:stars] %>)</a>
										          <%= check_box_tag "caches_search_ids", caches_search[:id], compare_data(caches_search) ? false : true, style: 'position: absolute;right: 5px;', class: 'caches_search', data:{caches_search_ids: caches_search[:id], search_items_id: search_items_id} %>
										        </div>
										      </div>
										      <div class="row">
										        <div class="twelve   columns inner-report" style="position: relative;">
										          <%= caches_search[:description] %>
										          <a href="#" class="caches_search_delete" data-target="#list-<%= caches_search[:id] %>" data-caches-search-ids="<%= caches_search[:id]%>" data-search-items-id="<%= search_items_id %>" style="position: absolute;right: 5px;"><i class="fa fa-trash"></i></a>
										        </div>
										      </div>
										  </div>
										<% end %>
									<% end %>
								</div>
							</div>
							<div class="four columns">
								<div class="read-me"><a href="" id='read-me-href'><span id="read-me-cache-name"></span></a></div>
							</div>
						</div>
					<% else %>
						<h6 class="noresult">No Search Item</h6>
					<% end %>
				</section>
				<section id="content2" class="content-datas">
					<% if @saved_results_by_project.blank? %>
						<h6 class="noresult">No saved results from topic <%= search_item_topic(search_items_id.to_i) %></h6>
					<% else %>
						<% @saved_results_by_project.each do |sv|%>
							<% if search_items_id.to_i == sv.search_items_id %>
								<div class="row" id="list-<%= sv.repo_id %>">
									<div class="five columns">
										<div class="row">
											<div class="twelve columns report">
												<div class="row link">
													<div class="twelve columns inner-report" style="position: relative;">
														<a href="#"><%= sv.repo_title %>&nbsp;(<%= sv.repo_stars %>)</a>
													</div>
												</div>
												<div class="row">
													<div class="twelve	 columns inner-report" style="position: relative;">
														<%= sv.repo_description %>
														<a href="#" class="caches_search_delete" data-target="#list-<%= sv.repo_id %>" data-caches-search-ids="<%= sv.repo_id %>" data-search-items-id="<%= search_items_id %>" style="position: absolute;right: 5px;"><i class="fa fa-trash"></i></a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="four columns">
										<div class="read-me" target="_blank"><a href="<%= show_readme(sv)%>">README</a></div>
									</div>
								</div>
							<% end %>
						<% end %>
					<% end %>
				</section>
				<section id="content3" class="content-datas">
					<% if @deleted_results_by_project.blank? %>
						<h6 class="noresult">No deleted results from topic <%= search_item_topic(search_items_id.to_i) %></h6>
					<% else %>
						<% @deleted_results_by_project.each do |dl|%>
							<% if search_items_id.to_i == dl.search_items_id %>
								<div class="row">
									<div class="five columns">
										<div class="row">
											<div class="twelve columns report">
												<div class="row link">
													<div class="twelve columns inner-report" style="position: relative;">
														<a href="#"><%= dl.repo_title %>&nbsp;(<%= dl.repo_stars %>)</a>
													</div>
												</div>
												<div class="row">
													<div class="twelve	 columns inner-report" style="position: relative;">
														<%= dl.repo_description%>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="four columns">
										<div class="read-me" target="_blank"><a href="<%= show_readme(dl)%>">README</a></div>
									</div>
								</div>
							<% end %>
						<% end %>
					<% end %>
				</section>
			</div>
		</div>
</section>

<script type="text/javascript">
	$(function(){
		$("#content1").show();
		$("input[name='tabs']").click(function(){
			$('.content-datas').hide();
			$($(this).data('target')).show();
		});
	});

	$(function(){
		$('.caches_search').click(function(){
			var $obj = $(this);
			$.ajax({
             url: "<%= saved_results_path %>",
            type: "POST",
        dataType: "json",
            data: { caches_search_ids: $(this).data('caches-search-ids'), 
                    checked: $(this).prop('checked'),
                    search_items_id: $(this).data('search-items-id')
                  },
         success: function(data) {
         					$($obj.data("target")).addClass('choose-cache')
         					console.log('Ajax success!!')
         					location.reload();
                }
    	});
		});
	});

	$(function(){
		$('.caches_search_delete').click(function(){
			var $obj = $(this);
			$.ajax({
             url: "<%= deleted_results_path %>",
            type: "POST",
        dataType: "json",
            data: { caches_search_ids: $(this).data('caches-search-ids'),
                    search_items_id: $(this).data('search-items-id')
                  },
         success: function(data) {
         					console.log('Ajax success!!')
         					$($obj.data("target")).remove();
         					location.reload();
                },
          error: function() {
                  console.log('Ajax error!!')
                }
    	});
		});
	});

	$(function(){
		$('.click-caches-search').click(function(){
			var cache = $(this).data('caches-search')
			var cache_name = 'README FROM '+$(this).data('caches-name').toUpperCase()
			$.ajax({
             url: "<%= show_readme_path %>",
            type: "GET",
        dataType: "json",
            data: { cache_href: cache},
         success: function(data) {
         					$('#read-me-href').attr('href', data.readme_url);
									$('#read-me-cache-name').html(cache_name)
                },
          error: function() {
                  console.log('Ajax error!!')
                }
    	});
		});
	});
</script>