- unless is_deleted?(repo)
  .twelve.columns.report.saved-repo{:class => "#{'selected-cache' if is_selected?(repo)}", :id => "saved_repo-#{repo.repo_id}"}
    .row.link
      .twelve.columns.inner-report{:style => "position: relative;"}
        %a{href: "https://github.com/#{repo.reference.split('/').first}", target: 'blank'}
          = repo.reference.split('/').first
        \/
        %b
          %a.repo_readme{ data: {reference: "#{repo.reference}"}, :href => "#"}
            = repo.repo_title
        (
        %i.fa.fa-star-o
        #{repo.repo_stars})
        = check_box_tag "repo_ids", repo.repo_id, true, style: 'position: absolute;right: 5px;', class: 'repo_save', data:{'repo-id' => repo.repo_id, project_id: @project.id, 'repo-title' => repo.repo_title, 'repo-url' => repo.repo_url, 'repo-description' => repo.repo_description, 'repo-stars' => repo.repo_stars, 'search-items-id' => @search.id}
        %a{href: "https://github.com/#{repo.reference}", target: 'blank'}
          %i.fa.fa-external-link

    .row
      .twelve.columns
        %div= repo.repo_description

    .row
      .twelve.columns.inner-report{:style => "position: relative;"}
        %div
          = repo.pushed_at&.strftime('%d/%m/%Y')
          (#{repo.issues})
        %div
          %a.repo_delete{:href => "#", data: { repo_id: repo.repo_id, project_id: @search.project.id} , :style => "position: absolute;right: 5px;top: 0px;"}
            %i.fa.fa-trash
