- if @search_items.count > 0
  .row
    .two.columns
      .row
        - @search_items.each do |item|
          %div{class: "twelve columns result-search report #{'active' if (item.id == params[:id].to_i)}", :id => "item-#{item.id}"}
            %a{:href => "#{project_search_item_path(item.project_id, item.id)}"}
              = item.topic
              %small
                = "(#{item.language.present? ? item.language : 'all'})"

    .five.columns
      .row
        = render partial: 'repo', collection: @search.results

    .five.columns
      .read-me
- else
  %h6.noresult No Search Item
